
EP-MK1-heavy/myProject/vst2.4/build/macos/x86_64/.DS_Store
EP-MK1-heavy/myProject/vst2.4/build/macos/.DS_Store
EP-MK1-heavy/myProject/vst2.4/build/.DS_Store
EP-MK1-heavy/myProject/vst2.4/.DS_Store
EP-MK1-heavy/myProject/.DS_Store
EP-MK1-heavy/.DS_Store
.DS_Store
EP-MK1-heavy/myProject/vst2.4/build/macos/x86_64/.DS_Store
EP-MK1-heavy/myProject/vst2.4/build/macos/.DS_Store
EP-MK1-heavy/myProject/vst2.4/build/.DS_Store
EP-MK1-heavy/myProject/vst2.4/.DS_Store
EP-MK1-heavy/myProject/.DS_Store
EP-MK1-heavy/.DS_Store
.DS_Store
